.chamada  {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--cinza-escuro);
    text-align: center;
    
    background-color: rgb(255, 211, 68);

    padding-top: 10rem;
    padding-bottom: 2.5rem;
}

.chamada__titulo {
    font-family: var(--montserrat);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 1.5rem;
}

.chamada__texto {
    font-size: 1.25rem;
    line-height: normal;

    margin: 0 auto 2.5rem;
}

.chamada__botao {
    width: 100%;
}

.whatsapp {
    width: 25px;
}

@media screen and (max-width: 768px) {
    .chamada__whatsapp {
        font-size: 0.8rem;
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .chamada__titulo {
        font-size: 4rem;
    }

    .chamada__whatsapp {
        font-size: 1rem;
        display: inline-block;
    }
}
